In [1]:
import pandas as pd
import datetime as dt

In [2]:
url = 'https://raw.githubusercontent.com/leilaff89/house_sales_prediction/main/datasets/all_perth_310121.csv'

In [3]:
df = pd.read_csv(url)

In [4]:
df['DATE_SOLD'] = df['DATE_SOLD'].map(lambda x: x.rstrip('\r'))
df['MONTH_SOLD'] = pd.to_datetime(df.DATE_SOLD).dt.strftime('%m')
df['YEAR_SOLD'] = pd.to_datetime(df.DATE_SOLD).dt.strftime('%Y')
df['BUILD_YEAR'] = pd.to_datetime(df.BUILD_YEAR).dt.strftime('%Y')
df.drop('DATE_SOLD', axis='columns', inplace=True)
df = df[df['BATHROOMS']<15]
df = df[df['GARAGE']<=10]

In [ ]:
df.head()

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK,MONTH_SOLD,YEAR_SOLD
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,1970,18300,Cockburn Central Station,1800,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN,09,2018
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,1970,26900,Kwinana Station,4900,6167,-32.193470,115.859554,ATWELL COLLEGE,5.524324,129.0,02,2019
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1970,22600,Challis Station,1900,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0,06,2015
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1970,17900,Midland Station,3600,6056,-31.900547,116.038009,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN,07,2018
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1970,11200,Bassendean Station,2000,6054,-31.885790,115.947780,KIARA COLLEGE,1.514922,NaN,11,2016

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31101 entries, 0 to 33655
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADDRESS           31101 non-null  object
 1   SUBURB            31101 non-null  object
 2   PRICE             31101 non-null  int64
 3   BEDROOMS          31101 non-null  int64
 4   BATHROOMS         31101 non-null  int64
 5   GARAGE            31101 non-null  float64
 6   LAND_AREA         31101 non-null  int64
 7   FLOOR_AREA        31101 non-null  int64
 8   BUILD_YEAR        28191 non-null  object
 9   CBD_DIST          31101 non-null  int64
 10  NEAREST_STN       31101 non-null  object
 11  NEAREST_STN_DIST  31101 non-null  int64
 12  POSTCODE          31101 non-null  int64
 13  LATITUDE          31101 non-null  float64
 14  LONGITUDE         31101 non-null  float64
 15  NEAREST_SCH       31101 non-null  object
 16  NEAREST_SCH_DIST  31101 non-null  float64
 17  NEAREST_SCH_RANK  21027 non-null  float64
 18  MONTH_SOLD        31101 non-null  object
 19  YEAR_SOLD         31101 non-null  object
dtypes: float64(5), int64(8), object(7)
memory usage: 5.0+ MB

In [5]:
df.to_csv('house_prices_complete.csv', index=False)

In [6]:
df_no_null = df.dropna()
df_no_null.head()

                 ADDRESS        SUBURB  ...  MONTH_SOLD  YEAR_SOLD
1            1 Addis Way         Wandi  ...          02       2019
2        1 Ainsley Court       Camillo  ...          06       2015
9       1 Arundel Street     Bayswater  ...          10       2019
11        1 Ashcott Gate        Butler  ...          11       2018
13  1 Ashendon Boulevard  Hammond Park  ...          07       2019

[5 rows x 20 columns]

In [ ]:
df_no_null.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19174 entries, 1 to 33651
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADDRESS           19174 non-null  object
 1   SUBURB            19174 non-null  object
 2   PRICE             19174 non-null  int64
 3   BEDROOMS          19174 non-null  int64
 4   BATHROOMS         19174 non-null  int64
 5   GARAGE            19174 non-null  float64
 6   LAND_AREA         19174 non-null  int64
 7   FLOOR_AREA        19174 non-null  int64
 8   BUILD_YEAR        19174 non-null  object
 9   CBD_DIST          19174 non-null  int64
 10  NEAREST_STN       19174 non-null  object
 11  NEAREST_STN_DIST  19174 non-null  int64
 12  POSTCODE          19174 non-null  int64
 13  LATITUDE          19174 non-null  float64
 14  LONGITUDE         19174 non-null  float64
 15  NEAREST_SCH       19174 non-null  object
 16  NEAREST_SCH_DIST  19174 non-null  float64
 17  NEAREST_SCH_RANK  19174 non-null  float64
 18  MONTH_SOLD        19174 non-null  object
 19  YEAR_SOLD         19174 non-null  object
dtypes: float64(5), int64(8), object(7)
memory usage: 3.1+ MB

In [7]:
df_no_null.to_csv('house_prices_no_null.csv', index=False)